/* STARTING FROM MOBILE VERSION */
/* GENERAL RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
[v-cloak] {
    display: none;
}

/*****************************************/
/* FONT SIZES */
.s-text {
    font-size: 14px;
}

.m-text {
    font-size: 15px;
}

.l-text {
    font-size: 16px;
}

.xl-text {
    font-size: 17px;
}

.bold {
    font-weight: 700;
}

/*****************************************/
/* CONTACT-ROW SETUP */
.contact-row {
    display: flex;
    height: 5rem;
}

.img-contact {
    text-align: center;
    margin: 0.5rem;
}

.contact-info {
    width: 85%;
    align-self: center;
}

.show-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/*****************************************/
/* TEXT-CONTAINER SETUP */

.text-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 10rem);
    overflow-y: scroll;
}

.msg-1 {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    margin-left: auto;
    position: relative;
    background-color: #d4f9bb;
    
}

.msg-2 {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    position: relative;
    background-color: #fff
}

.msg-bar {
    display: flex;
    flex-direction: column;
    padding: 0rem 0.5rem 0.2rem 0;
    align-items:end;
    justify-content: space-between;
    margin-left: 1rem;
}

/*****************************************/
/* CHAT-ROW SETUP */

.chat-row label {
    display: none;
}

.chat-row {
    background-color: #f3eeeb;
    height: 5rem;
    padding: 1rem;
}

.chat-row input {
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    outline: none;
}

/*****************************************/
/* BACKGROUND IMAGES */

.text-container {
    background-image: url("../img/mine.jpg");
    background-size: auto;
    background-position: center;
}

/*****************************************/
/* UTILITY */
.contacts,
.user-row-settings,
.content-card {
    display: none;
}

.flex {
    display: flex;
}

.msg-1 p,
.msg-2 p {
    padding: 1rem 0 1rem 1rem;
}

.text-align-c {
    text-align: center;
}

.margin-top {
    margin-top: 0.2rem;
}

.rounded {
    border-radius: 0.5rem;
}

.no-border {
    border: none;
}

.msg-bar div:first-child:hover{
    color: rgb(12, 12, 12);
    transition-duration: 400ms;
}

.pointer {
    cursor: pointer;
}

.border-white {
    border: 1px solid white;
}

/*****************************************/
/* IMAGE SETUP */

.img-style {
    width: 4rem;
    border-radius: 50%;
}

/*****************************************/
/* CONTACTS ROW SETUP */
.row {
    display: flex;
}

.contacts {
    display: flex;
    width: 6rem;
    flex-wrap: wrap;
    height: 100%;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0.5rem;
    overflow-y: scroll;
    height: 100%;
}

.notifications,
.search {
    display: none;
}

.contact-card {
    display: flex;
    align-items: center;
    height: 5rem;
}


.user-row {
    width: 100%;
    height: 5rem;
}

.chat {
    width: 100%;
    border-left: 1px solid #d6d6d6;
}

.hide {
    display: none;
}

.hide-dark-mode {
    display: none;
}

.icon-set-up-options {
    align-items: center;
    font-size: 1.5rem;
    margin-right: 1rem;
    position: relative;
}

.contact-options {
    display: flex;
}

.contact-options div:nth-child(2){
    margin: 0 1rem;
}

.contact-options div:last-child {
    position: absolute;
    right: 0;
    top: 4rem;
    width: 4rem;
    z-index: 1;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(24, 24, 24);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;

}

 /*****************************************/
/*POP UP*/
.pop-up {
position: absolute;
top: 1.5rem;
right: -3rem;
z-index: 2;
background-color: rgb(217, 217, 217);
border: 1px solid gray;
}

.pop-up p {
    padding: 0.5rem;
    text-align: center;
}

.pop-up p:hover {
    background-color: rgb(131, 131, 131);
    color: white;
}

.pop-up p:first-child {
    border-bottom: 1px solid black; 
}

/*****************************************/
/* BACKGROUND COLORS */
.b-light-grey {
    background-color: #eaeaea;
}

.b-azure {
    background-color: #8fdafc;
}

/* TEXT COLORS */
.c-gray {
    color: rgb(123, 123, 123);
}

.c-light-gray {
    color: #bbbbbb;
}

.c-azure {
    color: #8fdafc;
}

.white-text {
    color: white;
}

/*****************************************/
/* DARK MODE SETUP*/

.dark-mode {
    background-color: rgb(36, 36, 36) !important;
}

.filter-img-dark{
    filter: invert(100%);
}


/*****************************************/
/* TABLET SETUP */
@media screen and (min-width: 768px) {
   
    .hide {
        display: flex;
    }

    .show-contacts {
        display: none;
    }

    .contact-options div:nth-child(2) {
        margin: 0 1rem;
    }
    .img-card:hover {
        background-color: rgba(0, 0, 0, 0.134);
        transition-duration: 400ms;
    }

    .chat-row label {
        display: block;
        width: 5rem;
        font-size: 2rem;
        align-self: center;
    }

    .chat-row {
        display: flex;
    }
}

/*****************************************/
/* DEKSTOP SETUP*/
@media screen and (min-width: 1200px) {

    /*****************************************/
    /* CENTRAL CONTAINER SETUP */
    body {
        display: flex;
        height: 100vh;
        position: relative;
        background: linear-gradient(to bottom, #049688 0%, #049688 20%,
                #dddbd1 20%, #d2dbdc 100%);
    }

    .container {
        height: 90%;
        width: 80%;
        margin: auto;
    }

    /*****************************************/
    /* INSIDE CONTAINER SETUP*/
    .row {
        height: 100%;
    }

    .contacts {
        width: 25rem;
        background-color: white;
        flex-direction: column;
        flex-shrink: 0;
    }

    .notifications,
    .search {
        display: block;
    }

    .contact-list {
        margin: 0;
        display: block;
        width: 100%;
        height: calc(100% - 15rem);
        overflow-y: scroll;
        padding: 0;
    }

    /*****************************************/
    /*USER ROW SETUP*/
    .user-row {
        display: flex;
        width: 100%;
    }

    .user-row-settings {
        display: flex;
        justify-content: flex-end;
    }

    .user-row-settings div:nth-child(2) {
        margin: 0 1rem;
    }

    .user-row .img-contact,
    .user-row .user-row-settings {
        width: 50%;
    }

    .img-contact {
        text-align: left;
        margin: 0.5rem 0 0 0;
    }

    .img-style {
        margin-left: 1rem;
    }

    .contact-row {
        width: 100%;
    }

    /*****************************************/
    /*NOTIFICATIONS SETUP*/

    .notifications {
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        width: 100%;
        height: 5rem;
    }

    .bell {
        display: flex;
        width: 4rem;
        border-radius: 50%;
        height: 4rem;
        background-color: white;
        margin: 0 1rem;
        align-items: center;
        justify-content: center;
        font-size: 1.75rem;
    }

    /*****************************************/
    /*SEARCH SETUP*/
    .search {
        display: flex;
        width: 100%;
        height: 5rem;
        align-items: center;
        justify-content: center;
    }

    .search input {
        width: 80%;
        border: 1px solid rgba(128, 128, 128, 0.150);
        border-left: none;
        font-size: 1rem;
        padding: 0.5rem 0;
        padding-left: 1rem;
        outline: none;
    }

    .search div span {
        font-size: 1rem;
        border: 1px solid rgba(128, 128, 128, 0.150);
        border-right: none;
        padding: 0.6rem 1rem;
    }

    /*****************************************/
    /*CONTACT SETUP*/
    .contact-card {
        padding: 0.5rem 0;
    }

    .contact-card:nth-child(2n) {
        border-top: 1px solid rgba(128, 128, 128, 0.150);
        border-bottom: 1px solid rgba(128, 128, 128, 0.150);
    }

    .contact-card:last-child {
        border-bottom: none;
    }

    .contact-card:hover {
        background-color: rgba(0, 0, 0, 0.134);
        transition-duration: 400ms;
    }

    .selected_card {
        background-color: rgba(0, 0, 0, 0.134);
    }

    .chat-row label {
        display: block;
        text-align: center;
    }

    .img-card {
        pointer-events: none;
    }

    .contact-info {
        padding-left: 1rem;
        width: 100%;
    }

    .content-card {
        display: block;
        margin-left: 1rem;
        position: relative;
        width: 100%;
        font-weight: 500;
    }

    .time {
        position: absolute;
        right: 1rem;
        top: 0;
    }

    /*****************************************/
    /*TEXT CONTAINER*/
    .text-container {
        height: calc(100% - 10rem);
        padding: 3rem 6rem;
    }
}